<ion-content class="login_bg">
  <ion-grid class="content_middle ion-no-padding">

   <div class="box_shadow">

       <div class="box_shadow11">

           <ion-row>
               <ion-col col-12 class="logo_align">
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <!-- <p>&nbsp;</p>
                <p>&nbsp;</p> -->
                <img src="assets/img/fitness.gif">
                 
               </ion-col>
           </ion-row>  
  
           <ion-row class="sign_up_button">
             <ion-col size="12" class="ion-no-padding ion-text-center">
               <ion-button type="submit" expand="block" routerLink="/login">Login</ion-button>
    
               <ion-button type="submit" expand="block" routerLink="/register" class="transparent">Sign Up</ion-button>
             </ion-col>
             
           </ion-row>
           <p class="ion-text-center">Or</p>
           <app-login-with-social-media></app-login-with-social-media>
         </div>

      
 </div>
 </ion-grid>

 </ion-content>