<ion-content class="login_bg">
  <ion-grid>
      <img src="assets/img/fitness.gif">
      <form [formGroup]="loginForm" (ngSubmit)="doLogin()">
          <fieldset>
            <legend>Username or Email</legend>
            <ion-row>
              <ion-col size="12">
                <ion-input placeholder="Username or Email" formControlName="username" autocapitalize="off" ></ion-input>
              </ion-col>
            </ion-row>
          </fieldset>

          <fieldset> 
            <legend>Password</legend>
            <ion-row>
              <ion-col size="12">
                <ion-input type="password" placeholder="Password" autocapitalize="off" formControlName="password"></ion-input>
              </ion-col>
            </ion-row>
          </fieldset> 
           
          <ion-row>
            <ion-col size="12" class="ion-text-center ion-no-padding">
              <ion-button type="submit" expand="block" [disabled]="!loginForm.valid">Signin</ion-button>
            </ion-col>
          </ion-row>
     
      </form>
      <ion-row class="login-section">
        <ion-col size="12" text-center class="before_sec">
          
          <p>Already have an account? <a href="#" [routerLink]="['/register']" routerDirection="forward">SignUp</a></p>
        </ion-col>
      </ion-row>
      <p class="ion-text-center">Or</p>
      <app-login-with-social-media></app-login-with-social-media>
      <p>&nbsp;</p>
  </ion-grid>
</ion-content>



<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="doLogin()">
    <fieldset>
      <legend>Full Name</legend>
      <ion-row>
        <ion-col size="12">
          <ion-input placeholder="Full Name" formControlName="username" autocapitalize="off" ></ion-input>
        </ion-col>
      </ion-row>
    </fieldset>

    <fieldset> 
      <legend>Mobile</legend>
      <ion-row>
        <ion-col size="12">
          <ion-input type="password" placeholder="Mobile" autocapitalize="off" formControlName="password"></ion-input>
        </ion-col>
      </ion-row>
    </fieldset> 
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" formControlName="username" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="dark" expand="block" [disabled]="!loginForm.valid">Sign In</ion-button>
        <p class="ion-text-center ion-no-margin">Or signin with social media</p>
        <ion-button color="primary" expand="block">Signin with Facebook</ion-button>
   
        <ion-button color="danger" expand="block" >Signin with Google</ion-button>
        <p class="ion-text-center ion-no-margin"></p>
        <a [routerLink]="['/forget-password']" class="small-text">Forgot Password?</a>
      </ion-col>
    </ion-row>
  </form>
</ion-content> -->