<ng-container >
  <ion-slides *ngIf="workouts.length > 0" pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let item of workouts; let i = index">
      <div>
        <div class="levels-section">
          <ion-icon name="flash"></ion-icon>
          <ion-icon name="flash"></ion-icon>
          <ion-icon name="flash"></ion-icon>
          <ion-icon name="flash"></ion-icon>
        </div>
        <div class="lock-section">
          <ion-icon name="lock-closed"></ion-icon>
        </div>
        <ion-img src={{item.image}}></ion-img>
        <h6 class="title">{{item.title}}</h6>
        <p class="desc">{{item.desc}}</p>
      </div>    
    </ion-slide>
  </ion-slides>
</ng-container>