<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Workouts({{workouts.length}})</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<p *ngIf="is_spinner == 'on'" class="ion-text-center"><ion-spinner></ion-spinner></p>
  <ng-container *ngIf="workouts.length > 0">
    <ng-container *ngFor="let currentItem of workouts; let i = index;">
      <app-single-workout [item]="currentItem"></app-single-workout>
    </ng-container>
  </ng-container>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
